@media (max-height: 399px), (max-width: 800px){
  body{
    display: block;
  }
}

html {
  min-width: 320px;
  overflow: auto;
}

body {
  background-image: url(/assets/images/bg/init_bg.png);
  max-width:3840px;
  max-height: 2160px;
  min-width: 320px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  border-radius: 20px; /* roundness of the scroll thumb */
}

*::-webkit-scrollbar-track {
  background: gray; /* color of the tracking area */
  border-radius: 20px; /* roundness of the scroll thumb */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.h-full {
  height: 100vh;
}

.w-full {
  width: 100vh;
}

.min-w-sm {
  min-width: 300px;
}

.card-title {
  margin-bottom: 10px;
}

.bottom-sticky {
  position: sticky;
  bottom: 5px;
}